A,
A:ACTIVE,
A:FOCUS,
A:LINK,
A:VISITED {
    color: #2D617D;
    text-decoration: underline;
}

A:HOVER {
    color: #22495E;
    text-decoration: none;
}

BODY {
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-arrow-color: #2D617D;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-face-color: #E8F4FD;
    scrollbar-highlight-color: #CCE9EC;
    scrollbar-shadow-color: #8CCCCD;
    scrollbar-track-color: #FFFFFF;
}

BODY,
TD,
FIELDSET {
    cursor: default;
}

BODY,
TD,
INPUT,
TEXTAREA,
SELECT {
    color: #2D617D;
    font: 11px verdana;
    font-weight: none;
    text-decoration: none;
}

FIELDSET {
    border-color: #C6D6DF;
    border-style: solid;
    border-width: 1;
    padding: 3px 3px 3px 3px;
}

INPUT {
    border-color: #A5B8C0 #A5B8C0 #A5B8C0 #A5B8C0;
    text-indent: 2px;
}


/* The buttons used for bbCode styling in message post */

INPUT.button {
    background-color: #EFEFEF;
    color: #2D617D;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
}


/* None-bold submit button */

INPUT.liteoption {
    background-color: #DEF1FC;
    border-color: #9BAEB7 #9BAEB7 #9BAEB7 #9BAEB7;
    font-weight: normal;
}


/* The main submit button option */

INPUT.mainoption {
    background-color: #DEF1FC;
    border-color: #9BAEB7 #9BAEB7 #9BAEB7 #9BAEB7;
    border-style: solid;
    border-width: 1;
}


/* The text input fields background colour */

INPUT.post,
TEXTAREA.post,
SELECT {
    background-color: #F2F9FD;
    border-color: #A5B8C0 #A5B8C0 #A5B8C0 #A5B8C0;
    border-style: solid;
    border-width: 1;
    scrollbar-3dlight-color: #F2F9FD;
    scrollbar-arrow-color: #2D617D;
    scrollbar-darkshadow-color: #F2F9FD;
    scrollbar-face-color: #E8F4FD;
    scrollbar-highlight-color: #CCE9EC;
    scrollbar-shadow-color: #8CCCCD;
    scrollbar-track-color: #F2F9FD;
}

TEXTAREA,
SELECT {
    background-color: #F2F9FD;
    border-color: #CDDBE2 #CDDBE2 #CDDBE2 #CDDBE2;
    border-style: solid;
    border-width: 1;
    font-size: 10px;
    scrollbar-3dlight-color: #F2F9FD;
    scrollbar-arrow-color: #2D617D;
    scrollbar-darkshadow-color: #F2F9FD;
    scrollbar-face-color: #E8F4FD;
    scrollbar-highlight-color: #CCE9EC;
    scrollbar-shadow-color: #8CCCCD;
    scrollbar-track-color: #F2F9FD;
}

.asldk {
    background-color: #C2D0D6;
}

.contentBG {
    background-color: #FFFFFF;
    padding: 4px 4px 4px 4px;
}

.headBG1 {
    background-color: #EDF7FC;
    padding: 2px 2px 2px 2px;
}

.headerBG {
    background-color: #FFFFFF;
}

.headerTopBottom {
    background-color: #EDF7FC;
    height: 5px;
}

.mainBG {
    background-color: #CDDBE2;
}

.spacerTable1 {
    height: 7px;
}

.spacerTable2 {
    height: 4px;
}

.spacerTable3 {
    height: 10px;
}

.spacerTable4 {
    height: 7px;
}

.textLogin {
    font-size: 9px;
}

.textSize1 {
    font-size: 10px;
}

.textSize2 {
    font-size: 11px;
}

.title {
    font-size: 11px;
    font-weight: bold;
}


/*
     FILE ARCHIVED ON 22:31:08 Apr 11, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:24:08 Oct 19, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/


/*
playback timings (ms):
  LoadShardBlock: 197.207 (3)
  esindex: 0.02
  CDXLines.iter: 25.712 (3)
  exclusion.robots.policy: 0.436
  RedisCDXSource: 14.904
  captures_list: 246.551
  load_resource: 444.398
  exclusion.robots: 0.456
  PetaboxLoader3.datanode: 536.072 (4)
  PetaboxLoader3.resolve: 78.824 (2)
*/