* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 62.5;
}

#blog-hambuger-menu {
    display: none;
}


/* For Phone and Tablet */

@media (max-width:900px) {
    #blog {
        display: none;
    }
    #members-table {
        display: none;
    }
    #blog-hamburger-menu {
        display: flex;
    }
}

a {
    color: yellow
}

img {
    min-width: 60%;
    max-width: 80%;
    height: auto;
}

figure {
    color: lightgrey;
    background-image: linear-gradient(to bottom left, yellow, rgba(231, 112, 0), darkred);
    margin: 0 0 0 0;
    padding: 3% 0 2% 0;
}

figcaption {
    padding: 1%;
    margin: 1%;
}

header {
    opacity: linear-gradient(to bottom, 20%, 90%);
    color: darkred;
    background-image: linear-gradient(to bottom right, white, lightgrey);
    margin: 0%;
    padding: 5px;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    text-decoration: none;
    color: darkslategrey;
    font-size: 400%;
    margin: 2% 2% 2% 2%;
    text-shadow: 5 5 black;
    width: max-content;
}

.main-nav a:hover {
    text-decoration: none;
    color: rgba(14, 1, 61, .8);
    font-size: 400%;
    margin: 2% 2% 2% 2%;
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

#members-table {
    color: whitesmoke;
    background-image: linear-gradient(to bottom, rgb(121, 0, 0), purple, black);
    /*    align: center; */
    width: 100%;
    padding: 1%;
}

#members-table td+tr {
    align-self: center;
}

#youtube-video {
    background-image: linear-gradient(to bottom right, rgba(121, 0, 0), black);
}

nav ul {
    list-style: none;
    color: orangered;
}

#footer-info {
    color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(to bottom right, black, rgba(121, 0, 0));
}

body {
    height: 100%;
}